.adminCommentsDesign {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8vh;
  margin-top: 15vh;
  width: 100vw;
}

.commentsDiv {
  display: flex;
  justify-content: space-around;
}

.badWordsCommentsDesign {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.badWordsCommentsDesign::-webkit-scrollbar {
  display: none;
}

.reportedCommentsDesign {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.reportedCommentsDesign::-webkit-scrollbar {
  display: none;
}

.title {
  background-color: lightgray;
  border-radius: 5px;
  height: 30px;
  opacity: 0.75;
  padding-left: 50px;
  padding-right: 50px;
  position: sticky;
  width: 300px;
  margin-top:0;
}

.commentCard {
  margin-top: 1em;
  min-height: 100px;
}

.reason {
  background-color: lightgray;
}

@media only screen and (max-width: 900px) {
  .commentsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vh;
  }

  .title {
    top:0;
  }
}

.loaderDelete {
  width: 14px;
  height: 18px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
