.notFound {
  align-items: center;
  animation: fadeIn 2s;
  background-color: red;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
