.adminHomeDesign{
    display: flex;
    justify-content: center;
    padding-bottom: 8vh;
    padding-top: 15vh;
}

.adminProfile {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    width: 50vw;
}

.managementSelectors {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 3em;
    padding-top: 1em;
    width: 50vw;
}

.card{
    min-width: 300px;
}

.managementButton {
    width: 300px;
}

@media only screen and (max-width: 768px) {
    
    .adminHomeDesign{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 8vh;
        padding-top: 15vh;
    }

    .adminProfile {
        display: flex;
        justify-content: center;
        padding-top: 3em;
    }

    .managementSelectors {
        display: flex;
        flex-direction: column;
        padding-left: 3em;
    }

    .managementButton {
        width: 300px;
    }
}