.registerDesign {
  animation: fadeIn 2s;
  height: 77vh;
  opacity: 1;
  padding-bottom: 8vh;
  padding-top: 15vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.errorMessage {
  color: red;
}
