.detailProductDesign {
    display: flex;
    justify-content: space-between;
    padding-top: 12vh;
    width: 100vw;
}

.rightside {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 77vh;
    overflow: scroll;   
    width: 50vw;
}

.rightside::-webkit-scrollbar{
    display:none;
}

.leftside {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.productDetail {
    width: 375px;
}

img {
    max-width: 600px;
}
