.profileDesign {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  padding-bottom: 8vh;
  padding-top: 15vh;
}

.commentsDiv {
  display: flex;
  justify-content: space-around;
}

.flagedComments {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.reportedComments {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.profileCommentCard {
  margin: 2em;
}

.title {
  background-color: lightgray;
  border-radius: 5px;
  height: 30px;
  opacity: 0.75;
  padding-left: 50px;
  padding-right: 50px;
  position: sticky;
  top: 17vh;
  width: 300px;
}

@media only screen and (max-width: 900px) {
  .commentsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}