.footerDesign {
  background-color: rgb(43, 39, 39);
  bottom: 0;
  color: white;
  display: flex;
  height: 6vh;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  z-index: 3;
}

.madeby {
  margin-right: 10em;
  margin-top: 0.5em;
}

@media only screen and (max-width: 900px) {
  .footerDesign {
    display: none;
  }
}
