.productsManagement {
  align-items: center;
  animation: fadeIn 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  padding-bottom: 8vh;
  padding-top: 10vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.headerProductsManagement {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.productsList {
  align-items: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .productsManagement {
    padding-top: 5vh;
  }
}
