.errorMessage {
    color: red;
}
.formControl {
    background-color: white;
    border-radius: 5px;
    opacity: 0.75;
}

.commentBoxDesign {
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
   opacity: 1;
  }

}